absl-py==0.8.0
AccessControl==5.0
Acquisition==4.7
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
antiorm==1.2.1
appdirs==1.4.4
apptools==4.5.0
asgiref==3.2.7
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.3.0
AuthEncoding==4.2
Automat==20.2.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.7.1
bitarray==0.9.3
bkcharts==0.2
bleach==3.1.0
blinker==1.4
blis==0.4.1
bokeh==1.2.0
boto==2.49.0
bottle==0.12.18
bottle-websocket==0.2.9
Bottleneck==1.2.1
bs4==0.0.1
BTrees==4.7.2
buildozer==1.2.0
cachetools==4.1.1
catalogue==1.0.0
certifi==2019.6.16
cffi==1.12.3
Chameleon==3.8.1
chardet==3.0.4
ChatterBot==1.0.8
Click==7.0
clyent==1.2.2
colorama==0.4.4
colour-science==0.3.15
comtypes==1.1.7
conda==4.7.12
conda-build==3.18.8
conda-package-handling==1.3.11
conda-verify==3.4.2
configobj==5.0.6
constantly==15.1.0
contextlib2==0.5.5
control==0.8.4
cryptography==2.7
cssselect==1.1.0
cursor==1.3.4
cvlib==0.2.2
cycler==0.10.0
cymem==2.0.4
Cython==0.29.14
cytoolz==0.10.0
dask==2.1.0
DateTime==4.3
db==0.1.1
db-sqlite3==0.0.1
decorator==4.4.0
defusedxml==0.6.0
dicom==0.9.9.post1
dill==0.3.2
distlib==0.3.1
distributed==2.1.0
Django==3.0.5
dnspython==1.16.0
DocumentTemplate==4.0
docutils==0.14
easydict==1.9
Eel==0.12.2
entrypoints==0.3
envisage==4.8.0
et-xmlfile==1.0.1
ExtensionClass==4.5.0
faceai==0.3.8
fastcache==1.1.0
filelock==3.0.12
fire==0.3.1
five.localsitemanager==3.2.2
Flask==1.1.1
Flask-Mail==0.9.1
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.1
future==0.17.1
gast==0.3.1
get==2019.4.13
gevent==1.4.0
gevent-websocket==0.10.1
glob2==0.7
google-api-core==1.22.1
google-api-python-client==1.12.8
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.23.0
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.1.0
h5py==2.10.0
halo==0.0.29
heapdict==1.0.0
hfilesize==0.1.0
hmmlearn==0.2.4
html5lib==1.0.1
httplib2==0.18.1
hyperlink==19.0.0
idna==2.6
image==1.5.32
imageai==2.1.5
imageio==2.5.0
imagesize==1.1.0
IMDbPY==6.8
importlib-metadata==2.0.0
imutils==0.5.3
incremental==17.5.0
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.11.2
joblib==0.13.2
json5==0.8.4
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivymd==0.104.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
libarchive-c==2.8
llvmlite==0.29.0
lml==0.0.9
locket==0.2.0
log-symbols==0.0.14
lxml==4.3.4
mahotas==1.4.10
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.1.0
mayavi==4.7.1
mccabe==0.6.1
menuinst==1.4.16
Missing==4.1
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.0.2
mlxtend==0.17.0
mock==3.0.5
more-itertools==7.0.0
MouseInfo==0.1.3
mpmath==1.1.0
msgpack==0.6.1
MultiMapping==4.1
multipledispatch==0.6.0
munkres==1.1.4
murmurhash==1.0.4
mxnet==1.6.0
mysql-connector-python==8.0.19
mysqlclient==1.4.6
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.4.4
nose==1.3.7
notebook==6.0.0
numexpr==2.6.9
numpy==1.16.4
numpydoc==0.9.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
omdb==0.10.1
opencv-contrib-python==3.4.2.16
opencv-python==4.3.0.36
openpyxl==2.6.2
packaging==19.0
paho-mqtt==1.5.1
pandas==1.1.0
pandocfilters==1.4.2
parse==1.15.0
parsel==1.5.2
parso==0.5.0
partd==1.0.0
PasteDeploy==2.1.1
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
pep8==1.7.1
Persistence==3.0
persistent==4.6.4
pexpect==4.8.0
pi3d==2.32
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.2.1
pluggy==0.12.0
ply==3.11
plyer==2.0.0
plyfile==0.7.1
post==2019.4.13
preshed==3.0.4
Products.BTreeFolder2==4.2
Products.GenericSetup==2.0.3
Products.MailHost==4.10
Products.PythonScripts==4.12
Products.StandardCacheManagers==4.0.3
Products.ZCatalog==6.0
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
Protego==0.1.16
protobuf==3.13.0
psutil==5.6.3
ptyprocess==0.7.0
public==2019.4.13
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyAutoGUI==0.9.50
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydicom==1.3.0
PyDispatcher==2.0.5
pyexcel==0.6.1
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyface==6.1.2
pyflakes==2.1.1
pyfunctional==1.4.1
pygame==2.0.1
PyGetWindow==0.0.8
pyglet==1.3.3
Pygments==2.7.3
pygpu==0.7.6
pygsheets==2.0.3.1
PyHamcrest==2.0.2
pylint==2.3.1
PyMCubes==0.0.9
PyMsgBox==1.0.7
pyodbc==4.0.26
PyOpenGL==3.1.5
pyOpenSSL==19.0.0
pyparsing==2.4.0
PyPDF2==1.26.0
pyperclip==1.8.0
pypiwin32==223
PyQt5==5.13.1
PyQt5-sip==12.7.0
pyquery==1.4.1
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.14.11
PyScreeze==0.1.26
PySocks==1.7.0
pytesseract==0.3.5
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
python-dotenv==0.14.0
python-engineio==3.13.1
python-etcd==0.4.5
python-gettext==4.0
python-socketio==4.6.0
PyTweening==1.0.3
pytz==2019.1
PyWavefront==1.2.0
PyWavelets==1.0.3
pywebcopy==6.3.0
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.8.0
query-string==2019.4.13
queuelib==1.5.0
ratcave==1.0.0
readme-renderer==28.0
Record==3.5
request==2019.4.13
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
RestrictedPython==5.1
retrying==1.3.3
rfc3986==1.4.0
roman==3.3
rope==0.14.0
rsa==4.6
ruamel-yaml==0.15.46
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.2.1
Scrapy==2.0.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
sh==1.14.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.3.post1
soupsieve==2.1
spacy==2.3.2
SpeechRecognition==3.8.1
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spinners==0.0.24
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.5
sqlparse==0.3.1
srsly==1.0.4
statsmodels==0.10.0
sympy==1.4
tables==3.5.2
tabulate==0.8.7
tblib==1.4.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-object-detection-api==0.1.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
texttable==1.6.2
Theano==1.0.4
thinc==7.4.1
toolz==0.10.0
tornado==6.0.3
tqdm==4.52.0
traitlets==4.3.2
traits==5.1.2
traitsui==6.1.3
transaction==3.0.1
twine==3.3.0
Twisted==20.3.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.22
virtualenv==20.3.0
visvis==1.12.2
vtk==8.1.2
w3lib==1.21.0
waitress==1.4.4
wasabi==0.8.0
Wave==0.0.2
wavefront-reader==0.2.2
wavio==0.0.4
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.6
WebTest==2.0.35
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
WSGIProxy2==0.4.6
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
xtract-features==0.1
z3c.pt==3.3.0
zc.lockfile==2.0
ZConfig==3.5.0
zExceptions==4.1
zict==1.0.0
zipp==0.5.1
ZODB==5.6.0
zodbpickle==2.0.0
Zope==5.1
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.2
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.5.0
zope.exceptions==4.4
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.0.2
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.1
zope.schema==6.0.0
zope.security==5.1.1
zope.sendmail==5.1
zope.sequencesort==4.1.2
zope.site==4.4.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
Zope2==4.0
